<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
	</head>
	<body>
		<table>
			<tr>
				@helper.form(action=routes.Application.newproduct){
				<label>Name
					<input type="text" name="name" tabindex="1" required="required"/>
				</label>
				<label>Description
					<input type="text" name="description" tabindex="2" required="required">
				</label>
				<label>Price
					<input type="text" name="price" tabindex="3" required="required">
				</label>
				<input type="submit" value="Add" type="button">
				}
				@helper.form(action=routes.Application.listproducts){
				<input type="submit" value="Cancel" type="button" style="margin-left: 4px;"/>
				}
			</tr>
		</table>
	</body>
</html>
